@import '@/styles';

.formHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  user-select: none;

  .formTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    > p {
      @include fontSetting(#000000, 400, 16px, 24px);
    }

    > a {
      border-bottom: 1px solid #6d6afe;
      @include fontSetting(#6d6afe, 600, 16px, 19.09px);
    }
  }
}

.inputContainer {
  width: 100%;
  margin: 30px 0 32px 0;
  gap: 24px;

  display: flex;
  flex-direction: column;

  > form {
    display: flex;
    flex-direction: column;

    > label {
      @include fontSetting(#000000, 400, 14px, 16.71px);
      margin-bottom: 12px;
      user-select: none;
    }
    :nth-child(3) {
      margin-top: 24px;
    }

    //TODO 버튼 교체
    .formButton {
      width: 100%;
      height: 53px;
      border: none;
      border-radius: 8px;
      @include fontSetting(#f5f5f5, 600, 18px, 21.48px);
      margin-top: 32px;

      &[data-err='true'] {
        cursor: none;
        background: gray;
      }
      &[data-err='false'] {
        cursor: pointer;
        background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
      }
    }
  }

  @media screen and (max-width: $MOBILE_WIDTH) {
    margin: 30px 0;
  }
}

.easyLoginContainer {
  width: 100%;
  padding: 12px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid $gray-300;
  background-color: $gray-200;
  border-radius: 8px;
  user-select: none;
  > p {
    @include fontSetting(#373740, 400, 14px, 16.71px);
  }
}

.easyLoginButtonWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  > button {
    width: 42px;
    height: 42px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
