@import '@/styles';

$MAIN_PADDING_X: 104px;
$MAIN_PADDING_Y: 32px;

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: $gray-100;
  overflow: hidden;

  @media (max-width: $PC_WIDTH) {
    height: 950px;
  }
  @media (max-width: $TABLET_WIDTH) {
    height: 750px;
  }
  @media (max-width: $MOBILE_WIDTH) {
    height: 370px;
  }

  .mainText {
    flex-grow: 0;
    width: 100%;
    word-break: keep-all;
    font-size: 64px;
    margin: 70px 0 40px 0;

    @media (max-width: $TABLET_WIDTH) {
      max-width: 520px;
      margin: 40px 0;
    }
    @media (max-width: $MOBILE_WIDTH) {
      font-size: 32px;
      max-width: 270px;
      margin: 28px 0 24px 0;
    }
  }

  .addBtn {
    flex-grow: 1; /* 요소가 가변적으로 공간을 차지 */
    margin: 30px;
    @media (max-width: $TABLET_WIDTH) {
      margin: 30px;
    }
    @media (max-width: $MOBILE_WIDTH) {
      margin: 30px;
    }
  }

  .imageWrap {
    flex-grow: 3; /* 더 많은 공간을 차지하도록 설정 */
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;

    .titleImage {
      width: 100%;
      background: url('https://github.com/codeit-sprint-6th-part3-team1/linkbrary/assets/128791227/d230acb1-280a-4045-843f-a9e7848ce90f') no-repeat center
        center;
      background-size: contain;
      height: 100%;
      border-radius: 15px;
      margin-top: 70px;

      @media (max-width: $TABLET_WIDTH) {
        margin-top: 30px;
      }
      @media (max-width: $MOBILE_WIDTH) {
        margin: 30px;
      }
    }
  }
}

.gradientMain {
  background: linear-gradient(91.26deg, $primary 17.28%, $main-gradient-end 74.98%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient1 {
  background: linear-gradient(95.63deg, $gradient-wish-link-start 1.72%, $gradient-wish-link-end 74.97%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient2 {
  background: linear-gradient(277.01deg, $gradient-management-start 59.22%, $gradient-management-end 93.66%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient3 {
  background: linear-gradient(99.5deg, $gradient-share-start 22%, $gradient-share-end 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient4 {
  background: linear-gradient(271.36deg, $gradient-search-start -9.84%, $gradient-search-end 107.18%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h2 {
  align-items: center;
  font-size: 70px;
  @media (max-width: $PC_WIDTH) {
    font-size: 60px;
  }
  @media (max-width: $TABLET_WIDTH) {
    font-size: 50px;
  }
  @media (max-width: $MOBILE_WIDTH) {
    font-size: 32px;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto;

  @media (max-width: $TABLET_WIDTH) {
    height: auto;
    flex-direction: column;
  }
  @media (max-width: $MOBILE_WIDTH) {
    height: auto;
    margin: 0 auto;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
    @media (max-width: $TABLET_WIDTH) {
      flex-direction: column-reverse;
    }
  }

  @media (max-width: $TABLET_WIDTH) {
    flex-direction: column;
    &:nth-child(even),
    &:nth-child(odd) {
      flex-direction: column;
    }
  }
}

.text {
  word-break: keep-all;
  flex: 4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 40px;

  h2 {
    font-size: 50px;
    margin-bottom: 10px;
    @media (max-width: $PC_WIDTH) {
      font-size: 40px;
    }
    @media (max-width: $TABLET_WIDTH) {
      font-size: 35px;
      text-align: center;
    }
    @media (max-width: $MOBILE_WIDTH) {
      font-size: 30px;
    }
  }
  p {
    font-size: 16px;
    color: #6b6b6b;
    @media (max-width: $PC_WIDTH) {
      font-size: 14px;
    }
    @media (max-width: $TABLET_WIDTH) {
      font-size: 12px;
      text-align: center;
    }
    @media (max-width: $MOBILE_WIDTH) {
      font-size: 10px;
    }
  }
  @media (max-width: $TABLET_WIDTH) {
    margin-left: 0;
    align-items: center;
    text-align: center;
  }
}

.image {
  flex: 6;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
    height: auto;
  }
}
