$PRIMARY: #6d6afe;
$RED: #ff5b56;

$BLACK: #111322;
$WHITE: #ffffff;

$GRAY-100: #f0f6ff;
$GRAY-200: #e7effb;
$GRAY-300: #ccd5e3;
$GRAY-400: #9fa6b2;
$GRAY-500: #3e3e43;

$skyblue: #6ae3fe;
$main-gradient-end: #ff9f9f;
$gradient-wish-link-start: #fe8a8a;
$gradient-wish-link-end: #a4ceff;
$gradient-management-start: #6fbaff;
$gradient-management-end: #ffd88b;
$gradient-share-start: #6d7ccd;
$gradient-share-end: rgba(82, 136, 133, 0.22);
$gradient-search-start: #fe578f;
$gradient-search-end: #68e8f9;
