@mixin font-weight-size($weight, $size: null) {
  font-weight: $weight;
  font-size: $size;
}

@mixin font-line_height-letter_spacing($line-height: null, $letter-spacing: null) {
  @if $line-height {
    line-height: $line-height !important;
  }
  @if $letter-spacing {
    letter-spacing: $letter-spacing !important;
  }
}

@mixin fontSetting($color, $weight, $size, $line-height) {
  @include font-weight-size($weight, $size);
  @include font-line-height-letter_spacing($line-height);
  color: $color;
}
