@import '@/styles';

$errRed: #ff5b56;

.inputContainer {
  border: 1px solid $gray-300;
  border-radius: 8px;
  padding: 18px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 16px;
  left: 16px;

  &:focus-within {
    border-color: #007bff;
  }

  &[data-color='red'] {
    border-color: $errRed;
  }
  background-color: white;
}

.inputContainer img {
  pointer-events: none;
}

.input {
  border-width: 0;
  font-size: 16px;
  outline: none;
  width: 100%;
  height: 100%;
  @include font-base(#373740, 400, 16px, 24px);
}
.errMsg {
  // margin: 6px 0 0 0;
  width: 100%;
  height: 20px;
  @include font-base($errRed, 400, 14px, 16.71px);
}
