/* style.module.scss */
.skeleton {
  display: inline-block;
  background: linear-gradient(to right, #e0e0e0 0%, #f8f8f8 50%, #aca3a3 100%);
  background-size: 1000px 100%;
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
