.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 16px;
  left: 16px;
  height: 54px;
  padding: 15px 16px;
}

.inputContainer {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px 15px;
  width: 100%;
  max-width: 600px;
}

.icon {
  margin-right: 10px;
}

.input {
  flex: 1;
  padding: 10px;
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  color: #555;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
    justify-content: space-between;
    top: 80px;
    left: 16px;
  }

  .inputContainer {
    border-radius: 10px;
    padding: 13px 16px;
  }

  .icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }

  .input {
    font-size: 16px;
    padding: 8px;
  }
}