@import '@/styles';

$mobile: 390px;
$tablet: 769px;
$desktop: 1440px;

.container {
  display: flex;
  height: 100px;
  padding: 30px 80px;
  background-color: #f0f6ff;
  flex-direction: column;
}

// .buttonContainer,
// .middleContainer,
// .cardContainer {
//   padding: 1rem;
// }

.buttonContainer {
  flex-direction: column;
  width: 1, 060px;
  height: 35px;
  justify-content: space-between;
  flex: 0 1 auto;

  .FolderTypes {
    width: Hug (52px) px;
    height: Hug (35px) px;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #6d6afe;
    color: #000000;
    background-color: #ffffff;
    margin-right: 10px;
    cursor: pointer;

    &:hover {
      background: linear-gradient(to right, #c596ff, #fffb8a);
    }
  }

  .addFolderButton {
    float: right;
    width: 127px;
    height: 35px;
    top: 318px;
    left: 3275px;
    padding: 8px 24px 8px 24px;
    gap: 20px;
    color: #ffffff;
    background-color: #6d6afe;
    font-weight: bold;
    border: 1px solid #ffffff;
    border-radius: 20px;
    justify-content: left;
    cursor: pointer;
  }
}

.middleContainer {
  // flex: 1;
  > h2 {
    margin: 0;
    // width: 200px;
  }
  display: flex;
  padding: 24px 0;
  align-items: center;
  justify-content: space-between;
  .button {
    // float: right;
    // position: relative;
    // top: -45px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
  }
}

.cardContainer {
  flex: 0 1 auto;
}

@media (max-width: $desktop) {
  .linkPage {
    width: 100%;
  }
}

@media (max-width: $mobile) {
  .linkPage {
    width: 100%;
  }
}

@media (max-width: $tablet) {
  .linkPage {
    width: 100%;
  }
}
