@import '@/styles';

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray-100;
}

.mainWrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: $MOBILE_WIDTH) {
    width: 325px;
  }
}
