$background-color: #F6FBFF;
$amrgin-width: 360px;

.bg {
  align-items: center;
  background-color: $background-color;
  display: flex;
  height: 100%;
  width: $amrgin-width;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 100;
}
